{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Flux</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<h1 class="page-title">Flux</h1>

  <div class="container" style="height: 100px">
  <h2 class="form-title">LITReview</h2>
  <div class="links">
    <a href="{% url 'flux' %}">Flux</a>
    <a href="{% url 'post' %}">Posts</a>
    <a href="{% url 'search' %}">Abonnements</a>
    <a href="{% url 'logout' %}">Se déconnecter</a>
  </div>
</div>

    <button  class="my-button" type="button" onclick="window.location.href='{% url 'create_ticket' %}'">Demander une critique</button>
    <button  class="my-button" type="button" onclick="window.location.href='{% url 'create_ticket_review' %}'">Creer une critique</button>

  {% if tickets %}
    {% for ticket in tickets %}
      <div class="ticket">
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.user }}</p>
        <p>{{ ticket.description }}</p>
        <p>{{ ticket.time_created }}</p>

        {% if ticket.image %}
          <img src="{{ ticket.image.url }}" alt="Ticket Image" style=" max-width: 20%;"><br>
        {% endif %}
        {% for critique in ticket.critiques %}
        <h2>{{ critique.headline }}</h2>
        <div class="critique-info">
          <p style="display: inline-block; margin-right: 10px;">{{ critique.rating }}</p>
          <p style="display: inline-block;">{{ critique.body }}</p><br>
        </div>
        {% endfor %}
        <button class="my-button" type="button" onclick="window.location.href='{% url 'critique' ticket.id  %}'">Creer une critique</button>
      </div>

    {% endfor %}
  {% else %}
    <p>Aucun ticket disponible dans le flux.</p>
  {% endif %}
</body>
</html>

