{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Créer un ticket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="page-title">Créer un ticket</h1>
    <div class="container">
        <h2 class="form-title">LITReview</h2>
        <a href="">Flux</a>
        <a href="{% url 'user_tickets' %}">Posts</a>
        <a href="{% url 'search' %}">Abonnements</a>
        <a href="{% url 'logout' %}">Se déconnecter</a>
    </div>
    <p style="text-align: center;">Créer un ticket</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Titre:</label>
            <br>
            {{ form.title }}
        </div><br>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            <br>
           {{ form.description }}
        </div>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Télécharger fichier:</label>
            <br>
            {{ form.image }}
        </div>
        <button class="my-button" type="submit">Envoyer</button>
    </form>
</body>
</html>
