{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="page-title">Page d'accueil</h1>
    <div class="container">
        <h2 class="form-title">LITReview</h2>
        </div>
    <div class="register-content">
        <form class="register-form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
            <h3>Inscrivez-vous</h3>
        <label>
        <input type="text" id="username" name="username" placeholder="Nom d'utilisateur">
        </label><br>
        <label>
        <input type="password" id="password" name="password" placeholder="Mot de passe">
        </label><br>
        <label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmer le mot de passe">
        </label><br>
        <div class="button-wrapper">
            <button type="submit">S'inscrire</button>
            <button type="button" onclick="window.location.href='{% url 'login' %}'">Retourner</button>
        </div>


        </form>
    </div>

</body>
</html>
