/* Style pour le formulaire de connexion */
.page-title {
  text-align: left;
  margin-right: 20px;
  font-size: 14px;
}

.container {
  text-align: center;
  max-width: 37cm;
  margin: 46px;
  padding: -4cm;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.page-content {
  grid-column: 1;
}
.second-content {
  grid-column:2 ;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.page-content {
 text-align: center;
}

.login-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 20%;
  padding: 10px;
  margin-bottom: -7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.my-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Add this line to remove underline on button */
}

.my-button:hover {
  background-color: #45a049;
}

.second-content {
  float: left;
  text-align: center;
  margin-top: 20px;
}

.second-content a {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

/* Style pour le formulaire d'inscription */
.register-content {
 text-align: center;
}

.register-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.register-form input[type="text"],
.register-form input[type="password"],
 .register-form input[type="password"]{
  width: 22%;
  padding: 10px;
  margin-bottom: -7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-wrapper button {
  margin-right: 10px;
}
/* Style pour la page search */
.search-form input[type="text"]{
  width: 22%;
  padding: 10px;
  margin-bottom: -7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Style pour la page abonnement */
/* Style for the form */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"]
{
  width: 40%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.my-button {
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #45a049;
}

.ticket {
border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.ticket h2 {
  margin-top: 0;
}
.ticket img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}